using UnityEngine;

namespace {namespace}
{
    public class {eventName}EventListener : MonoBehaviour
    {
        public {eventName}EventContainer Events;
        public {eventName}Event Response ;

        private void Awake()
        {
            Events.Suscribe(Response.Invoke);
        }

        private void OnDestroy()
        {
            Events.Unsuscribe(Response.Invoke);
        }
    }
}
